.banner_bg_main {
  width: 100%;
  background-image: url('/assets/54783.jpg');
  object-fit: cover;
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .banner_bg_main {
    height: 450px; /* smaller height for mobile */
  }

  .banner_taital {
    color: #000; /* smaller on mobile */
  }
}
.header_section_top {
  width: 100%;
  background-color: #2b2a29;
  clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
  height: auto;
  padding: 10px 0px;
}

.custom_menu {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.custom_menu ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.custom_menu li {
  float: left;
  font-size: 16px;
  color: #f1f1f1;
  padding: 6px 10px 0px 10px;
}

.custom_menu li a {
  color: #f1f1f1;
}

.custom_menu li a:hover {
  color: #f26522;
}

/* logo section start */

.logo_section {
  width: 100%;
}

.logo {
  width: 100%;
  float: left;
  text-align: center;
  padding: 30px 0px;
}

/* logo section end */

/* header section start */

.header_section {
  width: 100%;
  display: flex;
}

.containt_main {
  display: flex;
}

/* opennav bar start */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f26522;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.toggle_icon {
  cursor: pointer;
  color: #ffffff;
  order: 2;
}

.header_box {
  order: 2;
  display: flex;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
  position: relative;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-left: 30px;
  order: 2;
}

.btn-secondary {
  color: #fff;
  background-color: #30302e;
  border-color: #30302e;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #30302e;
  border-color: #30302e;
}

.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

/* opennav bar end */

/* Styles for wrapping the search box start */

.main {
  flex: 1;
  margin: 0px 30px;
  display: inline-block;
  order: 2;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* Styles for wrapping the search box end */

.login_menu {
  display: flex;
  text-align: right;
  float: right;
}

.login_menu ul {
  margin: 0px;
  padding: 0px;
}

.login_menu li {
  float: left;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 4px;
}

.login_menu li a {
  color: #ffffff;
}

.login_menu li a:hover {
  color: #30302e;
}

/* flage css start */

.lang_box {
  display: flex;
  float: right;
  background: #fff;
  border-radius: 5px;
  margin-right: 20px;
}

.nav-link {
  display: block;
  padding: 0.4rem 1rem;
}

a:hover {
  color: #f26522;
  text-decoration: underline;
}

.padding_10:hover {
  color: #30302e;
}

/* banner section start */

.banner_section {
  width: 100%;
  /* float: left; */
  padding-bottom: 60px;
}

.banner_taital {
  width: 100%;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.buynow_bt {
  width: 170px;
  margin: 0 auto;
  padding-top: 30px;
}

.buynow_bt a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  background-color: #252525;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.buynow_bt a:hover {
  background-color: #f26522;
  color: #ffffff;
}

#my_slider a.carousel-control-next {
  right: 0px;
  top: 40px;
}

#my_slider a.carousel-control-prev {
  left: 0px;
  top: 40px;
}

#my_slider .carousel-control-next,
#my_slider .carousel-control-prev {
  width: 45px;
  height: 45px;
  background: rgb(242, 222, 172, 0.8);
  opacity: 1;
  font-size: 20px;
  color: #000;
  border-radius: 100px;
}

#my_slider .carousel-control-next:focus,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-prev:hover {
  color: #fff;
}

/* banner section end */
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  width: 0;
  padding-top: 60px;
  z-index: 2;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  display: block;
  color: #f1f1f1;
  text-decoration: none;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #575757;
}
